--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: answer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.answer (
    answer_id uuid DEFAULT gen_random_uuid() NOT NULL,
    repeat_index integer,
    question_id uuid,
    session_id uuid,
    value_id uuid
);


ALTER TABLE public.answer OWNER TO postgres;

--
-- Name: answer_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.answer_session (
    session_id uuid DEFAULT gen_random_uuid() NOT NULL,
    start_time timestamp without time zone,
    submit_time timestamp without time zone,
    status character varying(20),
    patient_id uuid,
    form_id uuid,
    visit_id uuid,
    last_saved_at timestamp(6) without time zone NOT NULL,
    source character varying(20) NOT NULL,
    started_at timestamp(6) without time zone NOT NULL,
    submitted_at timestamp(6) without time zone,
    total_score numeric(12,2) NOT NULL,
    submitted_by uuid,
    CONSTRAINT answer_session_source_check CHECK (((source)::text = ANY ((ARRAY['PATIENT'::character varying, 'DOCTOR'::character varying])::text[])))
);


ALTER TABLE public.answer_session OWNER TO postgres;

--
-- Name: answer_value; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.answer_value (
    value_id uuid DEFAULT gen_random_uuid() NOT NULL,
    text_value text,
    number_value numeric,
    date_value timestamp without time zone,
    file_url text,
    option_id uuid
);


ALTER TABLE public.answer_value OWNER TO postgres;

--
-- Name: appointment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.appointment (
    appointment_id uuid DEFAULT gen_random_uuid() NOT NULL,
    start_time timestamp without time zone,
    end_time timestamp without time zone,
    reason text,
    status character varying(50),
    doctor_id uuid,
    patient_id uuid,
    room_id uuid
);


ALTER TABLE public.appointment OWNER TO postgres;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_logs (
    id uuid NOT NULL,
    action character varying(255) NOT NULL,
    details text,
    ip_address character varying(255),
    resource_id character varying(255),
    resource_type character varying(255),
    "timestamp" timestamp(6) without time zone NOT NULL,
    user_id uuid
);


ALTER TABLE public.audit_logs OWNER TO postgres;

--
-- Name: clinic; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.clinic (
    clinic_id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255),
    address text,
    phone character varying(20),
    org_id uuid
);


ALTER TABLE public.clinic OWNER TO postgres;

--
-- Name: clinical_scale; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.clinical_scale (
    scale_id uuid NOT NULL,
    category character varying(50) NOT NULL,
    config_json jsonb,
    created_at timestamp(6) without time zone NOT NULL,
    description text,
    interpretation_json jsonb,
    is_active boolean NOT NULL,
    max_score integer NOT NULL,
    min_score integer NOT NULL,
    name character varying(100) NOT NULL,
    scoring_format character varying(50),
    total_questions integer NOT NULL,
    version bigint,
    org_id uuid
);


ALTER TABLE public.clinical_scale OWNER TO postgres;

--
-- Name: doctor; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.doctor (
    doctor_id uuid DEFAULT gen_random_uuid() NOT NULL,
    full_name character varying(255),
    user_id uuid
);


ALTER TABLE public.doctor OWNER TO postgres;

--
-- Name: family_member; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.family_member (
    family_member_id uuid DEFAULT gen_random_uuid() NOT NULL,
    patient_id uuid,
    full_name character varying(255) NOT NULL,
    gender character varying(20),
    year_of_birth integer,
    is_patient boolean DEFAULT false
);


ALTER TABLE public.family_member OWNER TO postgres;

--
-- Name: family_member_disease; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.family_member_disease (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    family_member_id uuid,
    disease_name character varying(255),
    diagnosed_year integer,
    note text
);


ALTER TABLE public.family_member_disease OWNER TO postgres;

--
-- Name: family_relationship; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.family_relationship (
    relationship_id uuid DEFAULT gen_random_uuid() NOT NULL,
    person_id uuid,
    related_person_id uuid,
    relationship_type character varying(50),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.family_relationship OWNER TO postgres;

--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO postgres;

--
-- Name: form; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.form (
    form_id uuid DEFAULT gen_random_uuid() NOT NULL,
    title character varying(255),
    description text,
    is_template boolean,
    is_active boolean,
    is_paid boolean,
    price numeric(12,2),
    created_at timestamp without time zone,
    updated_at timestamp without time zone,
    user_id uuid,
    is_public boolean NOT NULL,
    published_at timestamp(6) without time zone,
    status character varying(20) NOT NULL,
    version integer NOT NULL,
    created_by uuid NOT NULL,
    visibility character varying(20),
    org_id uuid,
    CONSTRAINT form_status_check CHECK (((status)::text = ANY ((ARRAY['DRAFT'::character varying, 'PUBLISHED'::character varying, 'ARCHIVED'::character varying])::text[]))),
    CONSTRAINT form_visibility_check CHECK (((visibility)::text = ANY ((ARRAY['PUBLIC'::character varying, 'DOCTOR_ONLY'::character varying, 'PRIVATE'::character varying])::text[])))
);


ALTER TABLE public.form OWNER TO postgres;

--
-- Name: form_answer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.form_answer (
    answer_id uuid NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    repeat_index integer NOT NULL,
    value_boolean boolean,
    value_date date,
    value_json jsonb,
    value_number numeric(12,2),
    value_text text,
    option_id uuid,
    question_id uuid NOT NULL,
    session_id uuid NOT NULL,
    value_datetime timestamp(6) without time zone
);


ALTER TABLE public.form_answer OWNER TO postgres;

--
-- Name: form_question; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.form_question (
    question_id uuid NOT NULL,
    allow_repeat boolean NOT NULL,
    content text NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    helper_text text,
    max_length integer,
    max_value numeric(12,2),
    min_length integer,
    min_value numeric(12,2),
    order_index integer NOT NULL,
    placeholder text,
    question_type character varying(30) NOT NULL,
    is_required boolean NOT NULL,
    scale_max integer,
    scale_min integer,
    updated_at timestamp(6) without time zone NOT NULL,
    validation_message character varying(255),
    validation_pattern character varying(255),
    section_id uuid NOT NULL,
    config_json jsonb,
    trigger_logic text,
    scale_id uuid,
    is_pii boolean DEFAULT false,
    data_classification character varying(255) DEFAULT 'GENERAL'::character varying,
    parent_question_id uuid,
    parent_option_id uuid,
    ai_config_json jsonb
);


ALTER TABLE public.form_question OWNER TO postgres;

--
-- Name: form_question_option; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.form_question_option (
    option_id uuid NOT NULL,
    content text NOT NULL,
    order_index integer NOT NULL,
    score numeric(12,2) NOT NULL,
    trigger_logic jsonb,
    question_id uuid NOT NULL
);


ALTER TABLE public.form_question_option OWNER TO postgres;

--
-- Name: form_section; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.form_section (
    section_id uuid NOT NULL,
    allow_repeat boolean NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    description text,
    order_index integer NOT NULL,
    repeat_label character varying(120),
    title character varying(255) NOT NULL,
    updated_at timestamp(6) without time zone NOT NULL,
    form_id uuid NOT NULL
);


ALTER TABLE public.form_section OWNER TO postgres;

--
-- Name: form_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.form_type (
    form_type_id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255)
);


ALTER TABLE public.form_type OWNER TO postgres;

--
-- Name: invoice; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.invoice (
    invoice_id uuid DEFAULT gen_random_uuid() NOT NULL,
    total_amount numeric(12,2),
    status character varying(50),
    created_at timestamp without time zone,
    visit_id uuid
);


ALTER TABLE public.invoice OWNER TO postgres;

--
-- Name: invoice_detail; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.invoice_detail (
    detail_id uuid DEFAULT gen_random_uuid() NOT NULL,
    quantity integer,
    unit_price numeric(12,2),
    service_id uuid,
    invoice_id uuid
);


ALTER TABLE public.invoice_detail OWNER TO postgres;

--
-- Name: medication; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.medication (
    medication_id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255),
    unit character varying(50)
);


ALTER TABLE public.medication OWNER TO postgres;

--
-- Name: option_choice; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.option_choice (
    option_id uuid DEFAULT gen_random_uuid() NOT NULL,
    content text,
    score numeric,
    order_index integer,
    trigger_repeat boolean,
    question_id uuid
);


ALTER TABLE public.option_choice OWNER TO postgres;

--
-- Name: org_feature_flags; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.org_feature_flags (
    flag_id uuid DEFAULT gen_random_uuid() NOT NULL,
    org_id uuid NOT NULL,
    feature_key character varying(100) NOT NULL,
    is_enabled boolean DEFAULT false NOT NULL,
    config_json jsonb,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.org_feature_flags OWNER TO postgres;

--
-- Name: org_subscription; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.org_subscription (
    subscription_id uuid DEFAULT gen_random_uuid() NOT NULL,
    org_id uuid NOT NULL,
    plan_type character varying(50) NOT NULL,
    amount numeric(12,2) DEFAULT 0 NOT NULL,
    started_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    expires_at timestamp without time zone,
    is_active boolean DEFAULT true NOT NULL,
    payment_ref character varying(255),
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.org_subscription OWNER TO postgres;

--
-- Name: organization; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.organization (
    org_id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255),
    type character varying(50),
    email character varying(100),
    phone character varying(20),
    address text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    subscription_plan character varying(50) DEFAULT 'FREE'::character varying,
    subscription_expiry timestamp without time zone,
    is_active boolean DEFAULT true
);


ALTER TABLE public.organization OWNER TO postgres;

--
-- Name: organization_member; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.organization_member (
    member_id uuid DEFAULT gen_random_uuid() NOT NULL,
    role character varying(50),
    status character varying(50),
    org_id uuid,
    user_id uuid
);


ALTER TABLE public.organization_member OWNER TO postgres;

--
-- Name: patient; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.patient (
    patient_id uuid DEFAULT gen_random_uuid() NOT NULL,
    full_name character varying(255),
    date_of_birth date,
    gender character varying(20),
    biological_gender character varying(20),
    psychological_gender character varying(20),
    phone character varying(20),
    address character varying(500),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    user_id uuid,
    phone_number character varying(20),
    national_id character varying(50),
    health_insurance_number character varying(50),
    occupation character varying(255),
    emergency_contact_name character varying(255),
    emergency_contact_phone character varying(20),
    status character varying(20) DEFAULT 'ACTIVE'::character varying,
    org_id uuid
);


ALTER TABLE public.patient OWNER TO postgres;

--
-- Name: payment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.payment (
    payment_id uuid DEFAULT gen_random_uuid() NOT NULL,
    amount numeric(12,2),
    description text,
    expiry_date timestamp without time zone,
    plan_type character varying(50),
    user_id uuid,
    status_id uuid,
    method_id uuid,
    created_at timestamp(6) without time zone NOT NULL
);


ALTER TABLE public.payment OWNER TO postgres;

--
-- Name: payment_method; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.payment_method (
    method_id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(100)
);


ALTER TABLE public.payment_method OWNER TO postgres;

--
-- Name: payment_status; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.payment_status (
    status_id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(100)
);


ALTER TABLE public.payment_status OWNER TO postgres;

--
-- Name: prescription; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.prescription (
    prescription_id uuid DEFAULT gen_random_uuid() NOT NULL,
    created_at timestamp without time zone,
    note text,
    visit_id uuid
);


ALTER TABLE public.prescription OWNER TO postgres;

--
-- Name: prescription_detail; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.prescription_detail (
    medication_id uuid NOT NULL,
    prescription_id uuid NOT NULL,
    dosage character varying(100),
    frequency character varying(100),
    duration character varying(100)
);


ALTER TABLE public.prescription_detail OWNER TO postgres;

--
-- Name: question; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.question (
    question_id uuid DEFAULT gen_random_uuid() NOT NULL,
    content text,
    is_required boolean,
    order_index integer,
    allow_skip boolean,
    allow_repeat boolean,
    max_repeat integer,
    score numeric,
    hint text,
    min_value numeric,
    max_value numeric,
    min_length integer,
    max_length integer,
    placeholder text,
    question_type_id uuid
);


ALTER TABLE public.question OWNER TO postgres;

--
-- Name: question_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.question_type (
    question_type_id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255)
);


ALTER TABLE public.question_type OWNER TO postgres;

--
-- Name: role; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.role (
    role_id character varying(64) NOT NULL,
    role_name character varying(50) NOT NULL
);


ALTER TABLE public.role OWNER TO postgres;

--
-- Name: room; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.room (
    room_id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255),
    type character varying(50),
    clinic_id uuid
);


ALTER TABLE public.room OWNER TO postgres;

--
-- Name: section; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.section (
    section_id uuid DEFAULT gen_random_uuid() NOT NULL,
    title character varying(255),
    description text,
    order_index integer,
    form_id uuid
);


ALTER TABLE public.section OWNER TO postgres;

--
-- Name: section_question; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.section_question (
    question_id uuid NOT NULL,
    section_id uuid NOT NULL,
    order_index integer
);


ALTER TABLE public.section_question OWNER TO postgres;

--
-- Name: service; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.service (
    service_id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255),
    description text,
    price numeric(12,2),
    type character varying(50),
    org_id uuid
);


ALTER TABLE public.service OWNER TO postgres;

--
-- Name: user_account; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_account (
    user_id uuid DEFAULT gen_random_uuid() NOT NULL,
    username character varying(120) NOT NULL,
    email character varying(160) NOT NULL,
    password character varying(255) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    role_id character varying(64) NOT NULL,
    full_name character varying(255),
    org_id uuid
);


ALTER TABLE public.user_account OWNER TO postgres;

--
-- Name: visit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.visit (
    visit_id uuid DEFAULT gen_random_uuid() NOT NULL,
    start_time timestamp without time zone,
    end_time timestamp without time zone,
    reason text,
    preliminary_diagnosis text,
    note text,
    doctor_id uuid,
    room_id uuid,
    created_at timestamp(6) without time zone NOT NULL,
    diagnosis character varying(2000),
    notes text,
    reason_for_visit character varying(1000),
    status character varying(20) NOT NULL,
    treatment_plan character varying(2000),
    visit_date timestamp(6) without time zone NOT NULL,
    patient_id uuid NOT NULL,
    CONSTRAINT visit_status_check CHECK (((status)::text = ANY ((ARRAY['SCHEDULED'::character varying, 'IN_PROGRESS'::character varying, 'COMPLETED'::character varying, 'CANCELLED'::character varying])::text[])))
);


ALTER TABLE public.visit OWNER TO postgres;

--
-- Name: vital_signs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vital_signs (
    vital_sign_id uuid NOT NULL,
    blood_pressure_diastolic integer,
    blood_pressure_systolic integer,
    bmi double precision,
    heart_rate integer,
    height double precision,
    oxygen_saturation integer,
    recorded_at timestamp(6) without time zone NOT NULL,
    respiratory_rate integer,
    temperature double precision,
    weight double precision,
    patient_id uuid NOT NULL,
    visit_id uuid
);


ALTER TABLE public.vital_signs OWNER TO postgres;

--
-- Data for Name: answer; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.answer (answer_id, repeat_index, question_id, session_id, value_id) FROM stdin;
\.


--
-- Data for Name: answer_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.answer_session (session_id, start_time, submit_time, status, patient_id, form_id, visit_id, last_saved_at, source, started_at, submitted_at, total_score, submitted_by) FROM stdin;
\.


--
-- Data for Name: answer_value; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.answer_value (value_id, text_value, number_value, date_value, file_url, option_id) FROM stdin;
\.


--
-- Data for Name: appointment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.appointment (appointment_id, start_time, end_time, reason, status, doctor_id, patient_id, room_id) FROM stdin;
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.audit_logs (id, action, details, ip_address, resource_id, resource_type, "timestamp", user_id) FROM stdin;
\.


--
-- Data for Name: clinic; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.clinic (clinic_id, name, address, phone, org_id) FROM stdin;
\.


--
-- Data for Name: clinical_scale; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.clinical_scale (scale_id, category, config_json, created_at, description, interpretation_json, is_active, max_score, min_score, name, scoring_format, total_questions, version, org_id) FROM stdin;
\.


--
-- Data for Name: doctor; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.doctor (doctor_id, full_name, user_id) FROM stdin;
\.


--
-- Data for Name: family_member; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.family_member (family_member_id, patient_id, full_name, gender, year_of_birth, is_patient) FROM stdin;
\.


--
-- Data for Name: family_member_disease; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.family_member_disease (id, family_member_id, disease_name, diagnosed_year, note) FROM stdin;
\.


--
-- Data for Name: family_relationship; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.family_relationship (relationship_id, person_id, related_person_id, relationship_type, created_at) FROM stdin;
\.


--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: form; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: form_answer; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.form_answer (answer_id, created_at, repeat_index, value_boolean, value_date, value_json, value_number, value_text, option_id, question_id, session_id, value_datetime) FROM stdin;
\.


--
-- Data for Name: form_question; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: form_question_option; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: form_section; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: form_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.form_type (form_type_id, name) FROM stdin;
\.


--
-- Data for Name: invoice; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.invoice (invoice_id, total_amount, status, created_at, visit_id) FROM stdin;
\.


--
-- Data for Name: invoice_detail; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.invoice_detail (detail_id, quantity, unit_price, service_id, invoice_id) FROM stdin;
\.


--
-- Data for Name: medication; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.medication (medication_id, name, unit) FROM stdin;
\.


--
-- Data for Name: option_choice; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.option_choice (option_id, content, score, order_index, trigger_repeat, question_id) FROM stdin;
\.


--
-- Data for Name: org_feature_flags; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.org_feature_flags (flag_id, org_id, feature_key, is_enabled, config_json, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: org_subscription; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.org_subscription (subscription_id, org_id, plan_type, amount, started_at, expires_at, is_active, payment_ref, notes, created_at) FROM stdin;
\.


--
-- Data for Name: organization; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.organization (org_id, name, type, email, phone, address, created_at, subscription_plan, subscription_expiry, is_active) FROM stdin;
\.


--
-- Data for Name: organization_member; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.organization_member (member_id, role, status, org_id, user_id) FROM stdin;
\.


--
-- Data for Name: patient; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.patient (patient_id, full_name, date_of_birth, gender, biological_gender, psychological_gender, phone, address, created_at, user_id, phone_number, national_id, health_insurance_number, occupation, emergency_contact_name, emergency_contact_phone, status, org_id) FROM stdin;
\.


--
-- Data for Name: payment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.payment (payment_id, amount, description, expiry_date, plan_type, user_id, status_id, method_id, created_at) FROM stdin;
\.


--
-- Data for Name: payment_method; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.payment_method (method_id, name) FROM stdin;
\.


--
-- Data for Name: payment_status; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.payment_status (status_id, name) FROM stdin;
\.


--
-- Data for Name: prescription; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.prescription (prescription_id, created_at, note, visit_id) FROM stdin;
\.


--
-- Data for Name: prescription_detail; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.prescription_detail (medication_id, prescription_id, dosage, frequency, duration) FROM stdin;
\.


--
-- Data for Name: question; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.question (question_id, content, is_required, order_index, allow_skip, allow_repeat, max_repeat, score, hint, min_value, max_value, min_length, max_length, placeholder, question_type_id) FROM stdin;
\.


--
-- Data for Name: question_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.question_type (question_type_id, name) FROM stdin;
\.


--
-- Data for Name: role; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.role (role_id, role_name) FROM stdin;
835d6dc88b708bc646d6db82c853ef4182fabbd4a8de59c213f2b5ab3ae7d9be	ADMIN
0d8b1eaf613adfeff42e6fc12f168c188a8256fd509ef79c3e214fb0a4687109	DOCTOR
0a935ec18ca52f08785c9c17d0160d1d62115348cc808392033fcef3e93c6d5c	PATIENT
edeea48516c33a2436c2221f3078e54797d58710dcb3efd0417039d934d53b58	STAFF
\.


--
-- Data for Name: room; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.room (room_id, name, type, clinic_id) FROM stdin;
\.


--
-- Data for Name: section; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.section (section_id, title, description, order_index, form_id) FROM stdin;
\.


--
-- Data for Name: section_question; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.section_question (question_id, section_id, order_index) FROM stdin;
\.


--
-- Data for Name: service; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.service (service_id, name, description, price, type, org_id) FROM stdin;
\.


--
-- Data for Name: user_account; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: visit; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.visit (visit_id, start_time, end_time, reason, preliminary_diagnosis, note, doctor_id, room_id, created_at, diagnosis, notes, reason_for_visit, status, treatment_plan, visit_date, patient_id) FROM stdin;
\.


--
-- Data for Name: vital_signs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.vital_signs (vital_sign_id, blood_pressure_diastolic, blood_pressure_systolic, bmi, heart_rate, height, oxygen_saturation, recorded_at, respiratory_rate, temperature, weight, patient_id, visit_id) FROM stdin;
\.


--
-- Name: answer answer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.answer
    ADD CONSTRAINT answer_pkey PRIMARY KEY (answer_id);


--
-- Name: answer_session answer_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.answer_session
    ADD CONSTRAINT answer_session_pkey PRIMARY KEY (session_id);


--
-- Name: answer_value answer_value_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.answer_value
    ADD CONSTRAINT answer_value_pkey PRIMARY KEY (value_id);


--
-- Name: appointment appointment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.appointment
    ADD CONSTRAINT appointment_pkey PRIMARY KEY (appointment_id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: clinic clinic_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clinic
    ADD CONSTRAINT clinic_pkey PRIMARY KEY (clinic_id);


--
-- Name: clinical_scale clinical_scale_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clinical_scale
    ADD CONSTRAINT clinical_scale_pkey PRIMARY KEY (scale_id);


--
-- Name: doctor doctor_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.doctor
    ADD CONSTRAINT doctor_pkey PRIMARY KEY (doctor_id);


--
-- Name: family_member_disease family_member_disease_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.family_member_disease
    ADD CONSTRAINT family_member_disease_pkey PRIMARY KEY (id);


--
-- Name: family_member family_member_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.family_member
    ADD CONSTRAINT family_member_pkey PRIMARY KEY (family_member_id);


--
-- Name: family_relationship family_relationship_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.family_relationship
    ADD CONSTRAINT family_relationship_pkey PRIMARY KEY (relationship_id);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: form_answer form_answer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form_answer
    ADD CONSTRAINT form_answer_pkey PRIMARY KEY (answer_id);


--
-- Name: form form_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form
    ADD CONSTRAINT form_pkey PRIMARY KEY (form_id);


--
-- Name: form_question_option form_question_option_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form_question_option
    ADD CONSTRAINT form_question_option_pkey PRIMARY KEY (option_id);


--
-- Name: form_question form_question_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form_question
    ADD CONSTRAINT form_question_pkey PRIMARY KEY (question_id);


--
-- Name: form_section form_section_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form_section
    ADD CONSTRAINT form_section_pkey PRIMARY KEY (section_id);


--
-- Name: form_type form_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form_type
    ADD CONSTRAINT form_type_pkey PRIMARY KEY (form_type_id);


--
-- Name: invoice_detail invoice_detail_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoice_detail
    ADD CONSTRAINT invoice_detail_pkey PRIMARY KEY (detail_id);


--
-- Name: invoice invoice_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoice
    ADD CONSTRAINT invoice_pkey PRIMARY KEY (invoice_id);


--
-- Name: medication medication_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.medication
    ADD CONSTRAINT medication_pkey PRIMARY KEY (medication_id);


--
-- Name: option_choice option_choice_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.option_choice
    ADD CONSTRAINT option_choice_pkey PRIMARY KEY (option_id);


--
-- Name: org_feature_flags org_feature_flags_org_id_feature_key_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.org_feature_flags
    ADD CONSTRAINT org_feature_flags_org_id_feature_key_key UNIQUE (org_id, feature_key);


--
-- Name: org_feature_flags org_feature_flags_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.org_feature_flags
    ADD CONSTRAINT org_feature_flags_pkey PRIMARY KEY (flag_id);


--
-- Name: org_subscription org_subscription_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.org_subscription
    ADD CONSTRAINT org_subscription_pkey PRIMARY KEY (subscription_id);


--
-- Name: organization_member organization_member_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organization_member
    ADD CONSTRAINT organization_member_pkey PRIMARY KEY (member_id);


--
-- Name: organization organization_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organization
    ADD CONSTRAINT organization_pkey PRIMARY KEY (org_id);


--
-- Name: patient patient_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.patient
    ADD CONSTRAINT patient_pkey PRIMARY KEY (patient_id);


--
-- Name: payment_method payment_method_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment_method
    ADD CONSTRAINT payment_method_pkey PRIMARY KEY (method_id);


--
-- Name: payment payment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment
    ADD CONSTRAINT payment_pkey PRIMARY KEY (payment_id);


--
-- Name: payment_status payment_status_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment_status
    ADD CONSTRAINT payment_status_pkey PRIMARY KEY (status_id);


--
-- Name: prescription_detail prescription_detail_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prescription_detail
    ADD CONSTRAINT prescription_detail_pkey PRIMARY KEY (medication_id, prescription_id);


--
-- Name: prescription prescription_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prescription
    ADD CONSTRAINT prescription_pkey PRIMARY KEY (prescription_id);


--
-- Name: question question_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.question
    ADD CONSTRAINT question_pkey PRIMARY KEY (question_id);


--
-- Name: question_type question_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.question_type
    ADD CONSTRAINT question_type_pkey PRIMARY KEY (question_type_id);


--
-- Name: role role_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role
    ADD CONSTRAINT role_pkey PRIMARY KEY (role_id);


--
-- Name: room room_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room
    ADD CONSTRAINT room_pkey PRIMARY KEY (room_id);


--
-- Name: section section_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.section
    ADD CONSTRAINT section_pkey PRIMARY KEY (section_id);


--
-- Name: section_question section_question_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.section_question
    ADD CONSTRAINT section_question_pkey PRIMARY KEY (question_id, section_id);


--
-- Name: service service_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.service
    ADD CONSTRAINT service_pkey PRIMARY KEY (service_id);


--
-- Name: org_feature_flags ukjkl5j3whhikt1hx7qx85yokid; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.org_feature_flags
    ADD CONSTRAINT ukjkl5j3whhikt1hx7qx85yokid UNIQUE (org_id, feature_key);


--
-- Name: clinical_scale uknlcegvfwl0xqmwfm149v1r0vh; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clinical_scale
    ADD CONSTRAINT uknlcegvfwl0xqmwfm149v1r0vh UNIQUE (name);


--
-- Name: user_account user_account_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_account
    ADD CONSTRAINT user_account_email_key UNIQUE (email);


--
-- Name: user_account user_account_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_account
    ADD CONSTRAINT user_account_pkey PRIMARY KEY (user_id);


--
-- Name: user_account user_account_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_account
    ADD CONSTRAINT user_account_username_key UNIQUE (username);


--
-- Name: visit visit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.visit
    ADD CONSTRAINT visit_pkey PRIMARY KEY (visit_id);


--
-- Name: vital_signs vital_signs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vital_signs
    ADD CONSTRAINT vital_signs_pkey PRIMARY KEY (vital_sign_id);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: idx_answer_session_form_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_answer_session_form_id ON public.answer_session USING btree (form_id);


--
-- Name: idx_answer_session_form_patient_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_answer_session_form_patient_time ON public.answer_session USING btree (form_id, patient_id, start_time);


--
-- Name: idx_answer_session_patient_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_answer_session_patient_id ON public.answer_session USING btree (patient_id);


--
-- Name: idx_appointment_doctor_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_appointment_doctor_id ON public.appointment USING btree (doctor_id);


--
-- Name: idx_appointment_doctor_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_appointment_doctor_time ON public.appointment USING btree (doctor_id, start_time);


--
-- Name: idx_appointment_patient_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_appointment_patient_id ON public.appointment USING btree (patient_id);


--
-- Name: idx_clinic_org_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_clinic_org_id ON public.clinic USING btree (org_id);


--
-- Name: idx_clinical_scale_org_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_clinical_scale_org_id ON public.clinical_scale USING btree (org_id);


--
-- Name: idx_doctor_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_doctor_user_id ON public.doctor USING btree (user_id);


--
-- Name: idx_form_answer_question_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_form_answer_question_id ON public.form_answer USING btree (question_id);


--
-- Name: idx_form_answer_session_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_form_answer_session_id ON public.form_answer USING btree (session_id);


--
-- Name: idx_form_org_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_form_org_id ON public.form USING btree (org_id);


--
-- Name: idx_form_question_option_parent; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_form_question_option_parent ON public.form_question USING btree (parent_option_id);


--
-- Name: idx_form_question_option_question_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_form_question_option_question_id ON public.form_question_option USING btree (question_id);


--
-- Name: idx_form_question_parent; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_form_question_parent ON public.form_question USING btree (parent_question_id);


--
-- Name: idx_form_question_pii; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_form_question_pii ON public.form_question USING btree (is_pii);


--
-- Name: idx_form_question_scale_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_form_question_scale_id ON public.form_question USING btree (scale_id);


--
-- Name: idx_form_question_section_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_form_question_section_id ON public.form_question USING btree (section_id);


--
-- Name: idx_form_section_form_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_form_section_form_id ON public.form_section USING btree (form_id);


--
-- Name: idx_org_feature_flags_org_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_org_feature_flags_org_id ON public.org_feature_flags USING btree (org_id);


--
-- Name: idx_org_member_org_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_org_member_org_id ON public.organization_member USING btree (org_id);


--
-- Name: idx_org_member_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_org_member_user_id ON public.organization_member USING btree (user_id);


--
-- Name: idx_org_subscription_org_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_org_subscription_org_id ON public.org_subscription USING btree (org_id);


--
-- Name: idx_patient_org_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_patient_org_id ON public.patient USING btree (org_id);


--
-- Name: idx_patient_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_patient_user_id ON public.patient USING btree (user_id);


--
-- Name: idx_room_clinic_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_room_clinic_id ON public.room USING btree (clinic_id);


--
-- Name: idx_service_org_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_service_org_id ON public.service USING btree (org_id);


--
-- Name: idx_user_account_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_account_email ON public.user_account USING btree (email);


--
-- Name: idx_user_account_org_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_account_org_id ON public.user_account USING btree (org_id);


--
-- Name: idx_user_account_role_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_account_role_id ON public.user_account USING btree (role_id);


--
-- Name: idx_user_account_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_account_username ON public.user_account USING btree (username);


--
-- Name: idx_visit_doctor_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_visit_doctor_id ON public.visit USING btree (doctor_id);


--
-- Name: idx_visit_doctor_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_visit_doctor_time ON public.visit USING btree (doctor_id, start_time);


--
-- Name: idx_visit_patient_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_visit_patient_id ON public.visit USING btree (patient_id);


--
-- Name: answer answer_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.answer
    ADD CONSTRAINT answer_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.question(question_id);


--
-- Name: answer_session answer_session_form_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.answer_session
    ADD CONSTRAINT answer_session_form_id_fkey FOREIGN KEY (form_id) REFERENCES public.form(form_id);


--
-- Name: answer answer_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.answer
    ADD CONSTRAINT answer_session_id_fkey FOREIGN KEY (session_id) REFERENCES public.answer_session(session_id);


--
-- Name: answer_session answer_session_patient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.answer_session
    ADD CONSTRAINT answer_session_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES public.patient(patient_id);


--
-- Name: answer_session answer_session_visit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.answer_session
    ADD CONSTRAINT answer_session_visit_id_fkey FOREIGN KEY (visit_id) REFERENCES public.visit(visit_id);


--
-- Name: appointment appointment_doctor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.appointment
    ADD CONSTRAINT appointment_doctor_id_fkey FOREIGN KEY (doctor_id) REFERENCES public.doctor(doctor_id);


--
-- Name: appointment appointment_patient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.appointment
    ADD CONSTRAINT appointment_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES public.patient(patient_id);


--
-- Name: appointment appointment_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.appointment
    ADD CONSTRAINT appointment_room_id_fkey FOREIGN KEY (room_id) REFERENCES public.room(room_id);


--
-- Name: clinic clinic_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clinic
    ADD CONSTRAINT clinic_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.organization(org_id);


--
-- Name: clinical_scale clinical_scale_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clinical_scale
    ADD CONSTRAINT clinical_scale_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.organization(org_id);


--
-- Name: doctor doctor_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.doctor
    ADD CONSTRAINT doctor_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.user_account(user_id);


--
-- Name: family_member_disease family_member_disease_family_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.family_member_disease
    ADD CONSTRAINT family_member_disease_family_member_id_fkey FOREIGN KEY (family_member_id) REFERENCES public.family_member(family_member_id);


--
-- Name: family_member family_member_patient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.family_member
    ADD CONSTRAINT family_member_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES public.patient(patient_id);


--
-- Name: family_relationship family_relationship_person_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.family_relationship
    ADD CONSTRAINT family_relationship_person_id_fkey FOREIGN KEY (person_id) REFERENCES public.family_member(family_member_id);


--
-- Name: family_relationship family_relationship_related_person_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.family_relationship
    ADD CONSTRAINT family_relationship_related_person_id_fkey FOREIGN KEY (related_person_id) REFERENCES public.family_member(family_member_id);


--
-- Name: vital_signs fk3bfrsnjy5feemik1kteb59k9r; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vital_signs
    ADD CONSTRAINT fk3bfrsnjy5feemik1kteb59k9r FOREIGN KEY (visit_id) REFERENCES public.visit(visit_id);


--
-- Name: visit fkesmtbikahcckkgowj5f28k37s; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.visit
    ADD CONSTRAINT fkesmtbikahcckkgowj5f28k37s FOREIGN KEY (doctor_id) REFERENCES public.user_account(user_id);


--
-- Name: form_answer fkh8yxfyqe2oiabl2uy44ojncuv; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form_answer
    ADD CONSTRAINT fkh8yxfyqe2oiabl2uy44ojncuv FOREIGN KEY (question_id) REFERENCES public.form_question(question_id);


--
-- Name: form_answer fkiu6hj1ejqpfff4tpb8q5fgrnk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form_answer
    ADD CONSTRAINT fkiu6hj1ejqpfff4tpb8q5fgrnk FOREIGN KEY (session_id) REFERENCES public.answer_session(session_id);


--
-- Name: form_question fkkuutdo9giul82oeuj88wk81ga; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form_question
    ADD CONSTRAINT fkkuutdo9giul82oeuj88wk81ga FOREIGN KEY (section_id) REFERENCES public.form_section(section_id);


--
-- Name: form_answer fkmbed23pxvpkw95eqwjgud8ei7; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form_answer
    ADD CONSTRAINT fkmbed23pxvpkw95eqwjgud8ei7 FOREIGN KEY (option_id) REFERENCES public.form_question_option(option_id);


--
-- Name: form_question_option fkn64kewdvgs9qibopnii9nh7sx; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form_question_option
    ADD CONSTRAINT fkn64kewdvgs9qibopnii9nh7sx FOREIGN KEY (question_id) REFERENCES public.form_question(question_id);


--
-- Name: appointment fkos4hkgr43lct1d56bo5v9fhto; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.appointment
    ADD CONSTRAINT fkos4hkgr43lct1d56bo5v9fhto FOREIGN KEY (doctor_id) REFERENCES public.user_account(user_id);


--
-- Name: form_section fkpvynqwi2t1wrw3wv1imaidi8s; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form_section
    ADD CONSTRAINT fkpvynqwi2t1wrw3wv1imaidi8s FOREIGN KEY (form_id) REFERENCES public.form(form_id);


--
-- Name: answer_session fkq5uux9icxmo1tos8xq3a618a7; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.answer_session
    ADD CONSTRAINT fkq5uux9icxmo1tos8xq3a618a7 FOREIGN KEY (submitted_by) REFERENCES public.user_account(user_id);


--
-- Name: visit fkrban5yeabnx30seqm69jw44e; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.visit
    ADD CONSTRAINT fkrban5yeabnx30seqm69jw44e FOREIGN KEY (patient_id) REFERENCES public.patient(patient_id);


--
-- Name: form fkrgckc1psqvy1of199dsj3n5su; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form
    ADD CONSTRAINT fkrgckc1psqvy1of199dsj3n5su FOREIGN KEY (created_by) REFERENCES public.user_account(user_id);


--
-- Name: vital_signs fkrjm22151uydx12n0ojul0stjl; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vital_signs
    ADD CONSTRAINT fkrjm22151uydx12n0ojul0stjl FOREIGN KEY (patient_id) REFERENCES public.patient(patient_id);


--
-- Name: form form_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form
    ADD CONSTRAINT form_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.organization(org_id);


--
-- Name: form_question form_question_parent_option_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form_question
    ADD CONSTRAINT form_question_parent_option_id_fkey FOREIGN KEY (parent_option_id) REFERENCES public.form_question_option(option_id);


--
-- Name: form_question form_question_parent_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form_question
    ADD CONSTRAINT form_question_parent_question_id_fkey FOREIGN KEY (parent_question_id) REFERENCES public.form_question(question_id);


--
-- Name: form_question form_question_scale_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form_question
    ADD CONSTRAINT form_question_scale_id_fkey FOREIGN KEY (scale_id) REFERENCES public.clinical_scale(scale_id);


--
-- Name: form form_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form
    ADD CONSTRAINT form_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.user_account(user_id);


--
-- Name: invoice_detail invoice_detail_invoice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoice_detail
    ADD CONSTRAINT invoice_detail_invoice_id_fkey FOREIGN KEY (invoice_id) REFERENCES public.invoice(invoice_id);


--
-- Name: invoice_detail invoice_detail_service_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoice_detail
    ADD CONSTRAINT invoice_detail_service_id_fkey FOREIGN KEY (service_id) REFERENCES public.service(service_id);


--
-- Name: invoice invoice_visit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoice
    ADD CONSTRAINT invoice_visit_id_fkey FOREIGN KEY (visit_id) REFERENCES public.visit(visit_id);


--
-- Name: option_choice option_choice_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.option_choice
    ADD CONSTRAINT option_choice_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.question(question_id);


--
-- Name: org_feature_flags org_feature_flags_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.org_feature_flags
    ADD CONSTRAINT org_feature_flags_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.organization(org_id);


--
-- Name: org_subscription org_subscription_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.org_subscription
    ADD CONSTRAINT org_subscription_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.organization(org_id);


--
-- Name: organization_member organization_member_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organization_member
    ADD CONSTRAINT organization_member_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.organization(org_id);


--
-- Name: organization_member organization_member_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organization_member
    ADD CONSTRAINT organization_member_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.user_account(user_id);


--
-- Name: patient patient_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.patient
    ADD CONSTRAINT patient_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.organization(org_id);


--
-- Name: patient patient_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.patient
    ADD CONSTRAINT patient_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.user_account(user_id);


--
-- Name: payment payment_method_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment
    ADD CONSTRAINT payment_method_id_fkey FOREIGN KEY (method_id) REFERENCES public.payment_method(method_id);


--
-- Name: payment payment_status_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment
    ADD CONSTRAINT payment_status_id_fkey FOREIGN KEY (status_id) REFERENCES public.payment_status(status_id);


--
-- Name: payment payment_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment
    ADD CONSTRAINT payment_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.user_account(user_id);


--
-- Name: prescription_detail prescription_detail_medication_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prescription_detail
    ADD CONSTRAINT prescription_detail_medication_id_fkey FOREIGN KEY (medication_id) REFERENCES public.medication(medication_id);


--
-- Name: prescription_detail prescription_detail_prescription_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prescription_detail
    ADD CONSTRAINT prescription_detail_prescription_id_fkey FOREIGN KEY (prescription_id) REFERENCES public.prescription(prescription_id);


--
-- Name: prescription prescription_visit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prescription
    ADD CONSTRAINT prescription_visit_id_fkey FOREIGN KEY (visit_id) REFERENCES public.visit(visit_id);


--
-- Name: question question_question_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.question
    ADD CONSTRAINT question_question_type_id_fkey FOREIGN KEY (question_type_id) REFERENCES public.question_type(question_type_id);


--
-- Name: room room_clinic_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room
    ADD CONSTRAINT room_clinic_id_fkey FOREIGN KEY (clinic_id) REFERENCES public.clinic(clinic_id);


--
-- Name: section section_form_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.section
    ADD CONSTRAINT section_form_id_fkey FOREIGN KEY (form_id) REFERENCES public.form(form_id);


--
-- Name: section_question section_question_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.section_question
    ADD CONSTRAINT section_question_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.question(question_id);


--
-- Name: section_question section_question_section_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.section_question
    ADD CONSTRAINT section_question_section_id_fkey FOREIGN KEY (section_id) REFERENCES public.section(section_id);


--
-- Name: service service_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.service
    ADD CONSTRAINT service_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.organization(org_id);


--
-- Name: user_account user_account_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_account
    ADD CONSTRAINT user_account_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.organization(org_id);


--
-- Name: user_account user_account_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_account
    ADD CONSTRAINT user_account_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.role(role_id);


--
-- Name: visit visit_doctor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.visit
    ADD CONSTRAINT visit_doctor_id_fkey FOREIGN KEY (doctor_id) REFERENCES public.doctor(doctor_id);


--
-- Name: visit visit_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.visit
    ADD CONSTRAINT visit_room_id_fkey FOREIGN KEY (room_id) REFERENCES public.room(room_id);


--
-- PostgreSQL database dump complete
--

